:host{
    background-image:url(src/assets/image/info.jpg);
    background-size: 100%;
    color:rgb(59, 56, 56);
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  button,span{
    margin: 0 auto;
    margin-left: 40%;
    

  }
  .btn{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(39, 48, 63);
  }
  #aeva{
  
    height: 55px;
    width: 10%;
    display: block;
    margin-left: 204px;
    margin-right: auto
  }
  button{
    border-radius: 50%;
    width: 20%;
  }
  