<br>


<br>
<br>
<br>
<br>
<br> 
<br>

<div class="col-md-3 offset-md-1 mt-4">
  </div>



<div class="col-md-6 offset-md-3 mt-5" style="margin:auto;background-color:white;
border-radius: 30px;height: 40%;width: 40%">

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <br>
                    <div style="margin:auto;width: 200%"><img id="aeva" src="assets/image/aevaweb.png"></div>

                <div class="form-group" style="width: 80%;margin:auto;;margin-top: 5%">
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="nom d'utilisateur"/>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required" style="color: red">veuillez saisir le nom d'utilisateur</div>
                    </div>
                </div>
                <div class="form-group" style="width:80%;margin:auto">
                    <label for="password"></label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="mot de passe"/>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required" style="color: red">veuillez saisir le mot de passe</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Se connecter
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>


</div>
<div class="col-md-3 offset-md-1 mt-4">
  </div>
  
  
