<div class="example-header tablecra">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
  </mat-form-field>
</div>
<br>
<br>
<br>
<div #TABLE>
  <div class="butonexcel">
    <button mat-raised-button color="primary" (click)="ExportTOExcel()">Export as Excel</button></div>
  <br>
  <br>
  <div class="example-container mat-elevation-z8" #TABLE>

    <table mat-table #table [dataSource]="dataSource" matSort>



      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          date



        </th>
        <td mat-cell *matCellDef="let row"> {{row.dateString| date:'y/MM /dd'}} </td>
      </ng-container>
      <ng-container matColumnDef="salarie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <hr>
          <div>
            Employé
          </div>


        </th>
        <td mat-cell *matCellDef="let row"> {{row.salarie}}</td>
      </ng-container>



      <!-- Name Column -->
      <ng-container matColumnDef="projet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <hr>
          <div>
            Projet
          </div>


        </th>
        <td mat-cell *matCellDef="let row"> {{row.projet}}</td>
      </ng-container>
      <ng-container matColumnDef="Taction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>

          <div>
            type d'action
          </div>


        </th>
        <td mat-cell *matCellDef="let row"> {{row.action}} </td>
      </ng-container>
      <ng-container matColumnDef="fiche">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>


          <div>
            Fiche
          </div>

        </th>
        <td mat-cell *matCellDef="let row"> {{row.fiche}} </td>
      </ng-container>
      <ng-container matColumnDef="commentaire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> commentaire </th>
        <td mat-cell *matCellDef="let row"> {{row.commentaire}} </td>
      </ng-container>
      <ng-container matColumnDef="charge">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>


          Charge


        </th>

        <td mat-cell *matCellDef="let row"> {{row.charge}} </td>
      </ng-container>





      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>







    </table>
  </div>


</div>


