.card {
  min-width: 80%;
}
.devP{
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  cursor: pointer;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
button,mat-raised-button{
  color: brown;
}
.delette{
  color: red;
}